.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.center-input {
    align-items: center;
    margin: 8px 0;
    line-height: 33px;
  }

  > div {
    flex: 0 1 auto;
  }
}
.flex-col {
  display: flex;
  flex-direction: column;
  > div {
    flex: 0 1 auto;
  }
}
.flex-grow {
  flex-grow: 1 !important;
}